

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
      }
      .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
      }
      header {
        background: #50a3a2;
        color: white;
        padding-top: 30px;
        min-height: 70px;
        border-bottom: #e8491d 3px solid;
      }
      header h1 {
        padding: 5px 0;
      }
      .main-content {
        padding: 20px;
      }

      p{
        color: black;
      }
    </style>

  </head>
  <body>
    <header>
      <div class="container">
        <h1>About Us</h1>
      </div>
    </header>
    <div class="main-content">
      <div class="container">
        <p>
          Welcome to our community service voluntary opportunities site! We are
          dedicated to bringing together individuals who want to make a
          difference in their communities. Our platform connects volunteers with
          organizations that need their help. Whether you're interested in
          environmental conservation, education, health, or any other area, we
          have a wide range of opportunities available. Join us today and start
          making a positive impact!
        </p>
      </div>
    </div>
   